<div class="top-wrapper subpage">
    <div class="thumbnail">
    <%= image_tag "thumbnail2.png", alt:"hitajico_home", width:"100%" %>
    </div>
    <div class="theme-content">
    <h1>新規会員登録</h1>  
    </div>
</div>

<div class="form-wrapper">

<%= render 'form', user: @user %>

</div>