<div class="top-wrapper subpage">
  <div class="thumbnail">
  <%= image_tag "thumbnail2.png", alt:"hitajico_home", width:"100%" %>
  </div>
  <div class="theme-content">
    <h1>ABOUT</h1>  
  </div>
</div>

<div class="content-wrapper">
  <div class="content-text">
    <h1>hitajicoとは</h1>
    <p>hitajicoは、「何かしたいけど行動できていない」という参加者が、ひたすら自己紹介しあって自己理解を深め合い、新たな一歩を踏み出してもらう対話型ワークショップ「ひたじこ会」を開催しているサークルです。</p>
    <h1>なぜ活動しているの？</h1>
    <p>設立当時京都大学４回生だった代表の松本が、将来の進路の岐路に立たされ、これまで正しいとされてきた「安定した企業に入るために必ず大学院に行け」などの限られた生き方に疑問を感じながらも、自分のしたいことが分からず自信を失って苦しんだ経験から、「誰もが自分らしくイキイキしている世の中にしたい」という思いで立ち上げました。</p>
    <h1>なぜ自己紹介なの？</h1>
    <p>自己紹介と言っても、ただ単に名前や所属を伝えるだけではありません。ひたじこ会では、各参加者が将来ありたい自分像と現在の課題について話し、「そもそも、なぜそう思うんですか？」と他の参加者から質問され、それに答えていくうちに自然と思考が整理されて、自分の大切にしている軸や、自分が本当にしたいことを発見します。</p>
    <p>また、周りの人が真剣に自分の話を聴いてくれるので自己肯定感が向上し、自分らしい新たな一歩を踏み出すための起爆剤となります。ひたじこ会では、それぞれの参加者の目標を明確にし、自己肯定感という燃料を供給することで、自分らしい新たな一歩を踏み出す機会を提供します。</p>
  
    <h1>参加者から多数いただいている感想</h1>
      <li>ありたい自分像をもう一度見つめ直し目指す方向を明確にしたことで、迷わずに行動できるようになった</li>
      <li>他の参加者が自分の話を真剣に聴いてくれたので安心して話すことができたし、話すうちに今まで分かっていなかった自分を知ることができた</li>
      <li>いま悩んでいることが自分だけじゃないと分かって、楽になった</li>
      <li>年齢の離れた方や、全く違う職業の方の話を聴くことで、これまでにない視野が得られた</li>
      <br>
    <h1>ぜひ、お話を聴かせてください！</h1>
    <p>「何かしたいけど行動できていない」とモヤモヤされているならば、年齢、職業に関係なく、ぜひ一度お話を聴かせてください。</p>
    <p>誰一人としてあなたと同じ人はいないので、きっと大きな刺激を得ることでしょう。</p>
    <br>
  </div> 

  <a href="/"><button type="button" class="btn btn-primary rounded-pill btn-lg">トークルームをみる</button></a>

</div>